@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-main-color: #121212;
  --light-color: #f6f6f6;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-gray-color: #242424;
  --dark-gray-hover-color: #191919;
  --light-gray-color: #a7a7a7;
  --green-color: #1fdf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  padding: 4px 16px;
  height: 32px;
  background-color: var(--white-color);
  color: var(--black-color);
  border: none;
  border-radius: 16px;
  transition: 0.06s;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

button:hover {
  transform: scale(1.04);
  background-color: var(--light-color);
}
