@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-family: 'Poppins', sans-serif;
}

ul,
li {
  list-style: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.wrapper {
  background-color: #fff;
  padding: 40px 30px;
  width: 555px;
  border-radius: 16px;
}

.wrapper h3 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 26px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(145, 19, 202, 1) 28%,
    rgba(71, 229, 137, 1) 69%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .input-todo-box {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.input-todo-box #input-todo {
  flex: 1;
  height: 36px;
  padding: 0 12px;
  outline: none;
  font-size: 16px;
}

.input-todo-box #add-btn {
  width: 100px;
  background: linear-gradient(90deg, rgba(145, 19, 202, 1) 28%, rgba(0, 212, 255, 1) 100%);
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.wrapper .todo-list {
  margin-top: 32px;
}

.todo-list .todo-item {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.todo-list .todo-item span {
  flex: 1;
  display: block;
  border-bottom: 1px solid #212121;
}

.todo-list .todo-item button {
  width: 60px;
  border: none;
  outline: none;
  background-color: rgb(185, 0, 0);
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}
